<body id="page"></body>


<form method="POST" action="/collections">
    <input hidden type="text" name="name" value="<%= location.name %>">
    <input hidden type="text" name="id" value="<%= location.id %>">
    <button class="btn btn-primary" type="submit">Add to Profile</button>
</form>

<h1 id="locName">  <%= location.name %> </h1>

<a id="navBar" href= "/locations/<%= location.id %>/edit"> Edit</a>-
<a id="navBar" href="/upload/"> Upload</a>-
<a id="navBar" href= "/locations/"> Locations</a>-
<a id="navBar" href= "/"> Home</a>
<hr/>

<h2> Gallery </h2>
<p> Find what shots people are taking and get inspired! </p>


    <div class="grid-item"> 
            <% unsplashPics.forEach( function(pic) { %>
            <img id="unplashPic"src="<%= pic.urls.regular %>" alt="" srcset="">
            <p id="igD">    <%= "Instagram:" + " " + pic.user.instagram_username %>
                            <%= "Description:" + " " + pic.description %> 
            </p>
            <% }); %>
    </div>
        